.landing-page {
    text-align: center;
    padding: 2rem;
    background-color: #f0f4f8;
    min-height: 100vh;
    margin-top: 2rem;
}
  
.landing-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.video-container {
  margin-bottom: 2rem;
}
  
  .landing-subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
  }
  
  .features-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
  }
  
  .signup-button {
    font-size: 18px;
    font-family: "Nunito";
    padding: 0.5em 1.5em;
    background-color: #fd661f;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    word-wrap: break-word;
    border: none;
    text-decoration: none;
  }
  
  .signup-button:hover {
    background-color: #c2410c;
  }  

  .login-btn {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    background-color: #fd661f;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #0b7077;
    color: white;
  }
  