.App {
  background-color: #eef6fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Nunito";
  font-size: calc(5px + 2vmin);
  color: #0b7077;

  .title {
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
    color: white;
    margin-top: 20em;
    
    h1 {
      margin-left: 1.5rem;
    }
  }

  .container {
    text-align: center;

    .video-container {
      padding-bottom: 1.5%;
    }
  }

  .buttons {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 2rem;

    button {
      font-size: 18px;
      font-family: "Nunito";
      padding: 0.5em 1.5em;
      background-color: #fd661f;
      color: white;
      border-radius: 5px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.32px;
      word-wrap: break-word;
      border: none;
    }
    button:hover {
      background-color: #0b7077;
      color: white;
    }
  }
}