.App {
  background-color: #a8d0e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: white;

  .title {
    text-decoration: none;
    color: white;
    
    h1 {
      margin-left: 1.5rem;
    }
  }

  .container {
    text-align: center;

    .video-container {
      padding-bottom: 1.5%;
    }
  }

  .buttons {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 1.5rem;

    button {
      padding: 0.5rem;
      font-size: 18px;
      background-color: #004a75;
      color: white;
      border-radius: 33%;
    }
  }
}