.header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s ease-in;
    overflow: visible;
    background-color: #0b7077;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .navbar a {
    color: #ffffff;
    text-decoration: none;
    /* font-size: 26px; */
    font-weight: 800;
}

.header .navbar .m {
    font-size: 28px;
    color: #fd661f;
}

.header .nav-menu a {
    color: #ffffff;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    position: relative;
}


.header .navbar span {
    margin-top: 5px;
    width: 200px;
    height: auto;
}

.header li {
    list-style-type: none;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 0.5em 1.5em;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    word-wrap: break-word;
}

.header .nav-item a:hover {
    color: #fd661f;
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.hamburger {
    display: none;
}

.dropdown-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

.nav-item.dropdown:hover .dropdown-menu,
.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    display: block;
}

.dropdown-menu li a:hover {
    color: #00bcd4;
    background-color: #444;
}

@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: #0b7077;
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -110%;
        top: 41px;
        flex-direction: column;
        background-color: #0b7077;
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;       
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}















